:root {
    box-sizing: border-box;
    overflow-x: hidden;
    --plyr-color-main: #204174;
}

header {
    margin-bottom: 50px;
}

body {
    background-color: #111;
    padding: 0 10%;
}

.heading-1 {
    font-size: 3.5rem;
}

nav {
    background-color: #111;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-collapse{
    width: unset;
}

#video_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 1600px;
    margin: 0 auto;
}

.plyr{
    border-radius: 10px;
}

.video-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.video-nav pre {
    color: #DDD;
    cursor: pointer;
    font-size: 2em;
}

.modal-header, .modal-body {
    background-color: #111;
    border: none;
    color: #DDD;
    text-align: center;
}

.modal-header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-body {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.modal-content {
    border: none;
    border-radius: 7px;
}

.modal-content a{
    text-decoration: none;
}

.btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

div.icons span.fab, div.video-nav span.video-nav-button, .modal-content a{
    color: #FFF;
    margin: 0 3px;
    padding: 0 7px;
}

div.icons span.fab:hover, div.video-nav span.video-nav-button:hover, .modal-content a:hover {
    opacity: 0.8;
    cursor: pointer;
}

#contact-modal {
    z-index: 999999;
}

@media screen and (max-width: 992px){
    .navbar-collapse {
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .container-fluid {
        flex-direction: unset;
    }

    .heading-1 {
        font-size: 2.5rem;
    }

    .navbar-collapse {
        text-align: right;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    div.spot-follow {
        margin: 0 auto 35px;
    }

    div.spot-follow > iframe{
        margin: 0 0 0 30%;
    }
}